
<div class="container">
  <a routerLink="/product/create">Add new Product</a>
  <table class="table" border="1">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Description</th>
      <th scope="col" colspan="2">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of products , let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{p.id}}</td>
      <td>{{p.name}}</td>
      <td>{{p.price}}</td>
      <td>{{p.description}}</td>
      <td><a [routerLink]="['/product/edit',p.id]"> Edit</a></td>
      <td><a [routerLink]="['/product/delete',p.id]" >Delete</a></td>
    </tr>
    </tbody>
  </table>
</div>

