<div class="container">
  <h2 class="text-center">Service List</h2>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Area</th>
      <th scope="col">Number of floor</th>
      <th scope="col">Number of people </th>
      <th scope="col">Rent cost</th>
      <th scope="col">Type rent</th>
      <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    </tbody>
  </table>

</div>

