<div class="container">
  <h2 class="text-center">Customer List</h2>
  <a class="btn btn-primary" routerLink="/customer/create">Add new product</a>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">Code</th>
      <th scope="col"> Name</th>
      <th scope="col"> Birthday</th>
      <th scope="col">Id Card</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
      <th scope="col" colspan="3">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let c of customers ,index as i" >
      <th scope="row">{{i+1}}</th>
      <td>{{c.id}}</td>
      <td>{{c.customerCode}}</td>
      <td>{{c.name}}</td>
      <td>{{c.birthday}}</td>
      <td>{{c.idCard}}</td>
      <td>{{c.phoneNumber}}</td>
      <td>{{c.email}}</td>
      <td>{{c.address}}</td>
      <td><a class="btn btn-success" [routerLink]="['/customer/view', c.id]">View</a></td>
      <td><a  class="btn btn-warning" [routerLink]="['/customer/edit',c.id]">Edit</a></td>
      <td><a  class="btn btn-danger" [routerLink]="['/customer/delete',c.id]">Delete</a></td>
    </tr>
    </tbody>
  </table>

</div>

