<div class="container">

  <h2 class="text-center">Create Customer</h2>
  <form>

    <div class="form-group">
      <label for="code">Code</label>
      <input type="text" class="form-control" id="code">
    </div>
    <div class="form-group">
      <label for="typeCustomer">TypeCustomer</label>
      <select name="typeCustomer" id="typeCustomer" class="form-control" >
        <option value="null">-----</option>
        <option *ngFor="let tc of typeCustomers" value="{{tc.id}}">{{tc.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name">
    </div>

    <div class="form-group">
      <label for="birthday">Birthday</label>
      <input type="date" class="form-control" id="birthday">
    </div>
    <div class="form-group">
      <label for="idCard">ID Card</label>
      <input type="text" class="form-control" id="idCard">
    </div>
    <div class="form-group">
      <label for="phoneNumber">Phone Number</label>
      <input type="text" class="form-control" id="phoneNumber">
    </div>
    <div class="form-group">
      <label for="email">Phone Number</label>
      <input type="text" class="form-control" id="email">
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="address">
    </div>

    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>

</div>
