<div class="container">
  <h2 class="text-center">Customer List</h2>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Type Customer</th>
      <th scope="col">Full Name</th>
      <th scope="col">Birthday</th>
      <th scope="col">Id Card</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let c of customers ,let i = index" >
      <th scope="row">{{i+1}}</th>
      <td>{{c.typeCustomer}}</td>
      <td>{{c.name}}</td>
      <td>{{c.dateOfBirth}}</td>
      <td>{{c.idCard}}</td>
      <td>{{c.phoneNumber}}</td>
      <td>{{c.email}}</td>
      <td>{{c.address}}</td>
    </tr>
    </tbody>
  </table>

</div>
